<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<form action="/person/create-person" method="post" th:object="${person}">
    <div>
        <label for="name">Имя:</label>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
        <input class="form-control" type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="surname">Фамилия:</label>
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red"></span>
        <input class="form-control" type="text" id="surname" th:field="*{surname}">
    </div>
    <div>
        <label for="midname">Отчество:</label>
        <span th:if="${#fields.hasErrors('midname')}" th:errors="*{midname}" style="color: red"></span>
        <input class="form-control" type="text" id="midname" th:field="*{midname}">
    </div>
    <div>
        <label for="age">Возраст:</label>
        <input class="form-control" type="text" id="age" th:field="*{age}">
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>
</body>
</html>